
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo img{
    width: 110px;
    color: bold;
    color: black;
}

.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin: 0 15px;
}
.menu li a{
    text-decoration: none;
    color: black;
    
}
.common-btn{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 25px;
}
/*nav end */
.hero{
    position: relative;
    text-align: center;
}

.hero img{
    width: 100%;
    height:750px;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    color: white;
}
.hero-btn{
    margin-top: 100px;
}
.hero-content h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 30px;
}

.common-btn{
    margin-top: 100px;
    background-color: blue;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*speaker start*/
.speaker{
    width: 80%;
    margin: auto;
}

.speaker h2{
    text-align: center;
    margin: 50px 0;
}

.speaker-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card{
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h5{
    color: blue;
    margin: 15px;
}

.card h3{
    margin: 0 15px;
}

.card p{
    margin: 10px 15px 20px;
    color: gray;
}

/*price start*/
/* Price Section */

.price{
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.price h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.price p{
    color: gray;
    margin-bottom: 40px;
}

.price-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.price-card{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.price-card-pro{
    background-color: #0f172a;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.price-card h5,
.price-card-pro h5{
    color: gray;
    margin-bottom: 10px;
}

.price-card h1,
.price-card-pro h1{
    font-size: 40px;
    margin-bottom: 5px;
}

.price-card p,
.price-card-pro p{
    color: gray;
    margin-bottom: 20px;
}

.price-card ul,
.price-card-pro ul{
    padding-left: 20px;
    margin-bottom: 30px;
}

.price-card li,
.price-card-pro li{
    margin-bottom: 10px;
}

.price-btn{
    width: 150px;
    padding: 12px;
    background-color: white;
    color: blue;
    border-radius: 2px solid blue;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}
.common-btn-pro{
    width: 150px;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}
/*blank page*/
/* Stats Section */

.stats{
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.stats h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.stats p{
    color: gray;
    margin-bottom: 40px;
}

.stats-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stats-card{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 25px;
}

.stats-card h1{
    color: blue;
    font-size: 40px;
    margin-bottom: 10px;
}

.stats-card h4{
    margin-bottom: 15px;
}

.stats-card p{
    color: gray;
    margin-bottom: 0;
}